@charset "UTF-8";

$scrollbar-width: .4em;
::-webkit-scrollbar {
  -webkit-box-shadow: none;
  width: $scrollbar-width;
}
::-webkit-scrollbar-track {
  background: $light;
    // -webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb {
  background-color: #33B568;
  border-radius: $scrollbar-width / 2;
}
::-webkit-scrollbar-thumb:hover {
  background-color:#B7C195;
}

.gdm-scrollbar {
  scrollbar-color: #33B568 !important;
  scrollbar-width: thin;
}