
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url("https://use.typekit.net/foi1snp.css");

body{
    font-family:"aktiv-grotesk", sans-serif !important;
    color: #33B568 !important; 
    margin: 5% !important;
}

h1{
    color: #368958 !important;
}

h2{
    margin-top: 5%;
    margin-left: 3% !important;
    color: #33B568 !important;
}

p{
    width: 50%;
    margin-left: 3% !important;
    color: #767C5B !important;
}

iframe{
    margin-left: 3% !important;
}

.profpic{
    width: 40%;
    float: left;
}

.tile{
    width: 100%;
}

.top{
    margin-top: 5%;
}

#kleur{
    width: 20%;
    margin-right: 3%;
    height: 10%;
}

.kleur1{
    background-color: #33B568;
}