
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif !important;
    color: #33B568 !important; 
    margin: 5% !important;
}

h1{
    color: #368958 !important;
}

h2{
    margin-left: 2% !important;
    color: #33B568 !important;
}

p{
    margin-left: 2% !important;
    color: #767C5B !important;
}