
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif !important;
    color: #33B568 !important; 
    margin: 5% !important;
}

h1{
    color: #368958 !important;
}

h2{
    margin-top: 5%;
    margin-left: 3% !important;
    color: #33B568 !important;
}

p{
    width: 50%;
    margin-left: 3% !important;
    color: #767C5B !important;
}

iframe{
    margin-left: 3% !important;
}

.profpic{
    width: 40%;
    float: left;
}

.top{
    margin-top: 5%;
}